.danger {
  background-color: red !important;
}

.success {
  background-color: green !important;
}

.info {
  background-color: rgb(37, 37, 255) !important;
}

button {
  font-size: 14px !important;
  display: flex;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
}
